@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700;1,800&display=swap');

:root {
    --night: #0D0F0A;
    --midnight: #0C0A0F;
    --white: #ECECEC;
    --honey: #ED9F11;
    --royalblue: #115FED;
    --green: #3D5502;
    --madder: #A4031F;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 60px;
}

body::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--white);
    opacity: 0.2;
    z-index: 1; 
    height: 100%;
}

header, main {
    position: relative;
    z-index: 2; 
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--green);
    box-shadow: 0 4px 41px rgb(14, 55, 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic; 
    color: var(--white);
    text-align: center;
}

#newtaskform {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
    order: 2;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#newtaskinput {
    width: 400px;
    background-color: var(--midnight);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 0;
    color: var(--white);
    font-size: 1.25rem;
}

#newtaskinput::placeholder {
    color: var(--white);
}

#newtasksubmit {
    color: var(--honey);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

#newtasksubmit:hover {
    opacity: 0.8;
}

#newtasksubmit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.tasklist {
    padding: 1rem;
    position: relative;
}

.tasklist h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--midnight);
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    position: relative;
}

.tasklist-container {
    max-height: 200px;
    overflow-y: auto;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 3;
}

#tasks .task {
    max-width: 735px;
    display: flex;
    justify-content: space-between;
    background-color: var(--night);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: var(--white);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--honey);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    color: var(--honey); 
}

.task .actions .done {
    color: var(--royalblue);
}

/*done list */

.donelist {
    padding: 1rem;
    position: relative;
    margin-top: 6.5rem;   
}

.donelist h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--midnight);
    margin-top: 6rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    position: relative;
}

.donelist-container {
    max-height: 200px;
    overflow-y: auto;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 3;
}

#done .task {
    max-width: 735px;
    display: flex;
    justify-content: space-between;
    background-color: var(--night);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#done .task .content {
    flex: 1 1 0%;
}

#done .task .content .text {
    color: var(--white);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#done .task .content .text:not(:read-only) {
    color: var(--honey);
}

#done .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .delete {
    color: var(--madder); 
}

/*responshessh */

@media (min-width: 1051px) and (max-width: 1270px) {
    header {
        display: grid;
        column-count: 2;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10%;
    }

        
    header h1 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    
    header p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    
    header h1,
    header p {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        grid-column: 1;
    }

    #newtaskform {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    .tasklist h2 {
        margin-top: 4rem; 
    }

    .donelist h2 {
        margin-top: 6.5rem; 
    }

    .tasklist-container,
    .donelist-container {
        max-height: 200px;
    }
    
}

@media (min-width: 601px) and (max-width: 1050px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 15px 8%;
    }

    header h1 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    header p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .tasklist h2 {
        margin-top: 7rem; 
    }

    .donelist h2 {
        margin-top: 6.5rem; 
    }

    .tasklist-container,
    .donelist-container {
        max-height: 200px;
    }

    .donelist-container {
        padding-bottom: 4rem;
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 15px 5%;
    }

    header h1 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    header p {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    #newtaskform {
        width: 100%;
        margin-top: 1rem;
    }

    .tasklist h2 {
        margin-top: 9rem; 
    }

    .donelist h2 {
        margin-top: 6.5rem; 
    }

    .tasklist-container,
    .donelist-container {
        max-height: 200px;
    }
}